.container {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.salaryCard {
    background-color: #d8ead772;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 500px;
}

.salaryCard:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.monthTitle {
    text-align: center;
    font-size: 22px;
    color: #555;
    margin-bottom: 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.salaryCard:hover .monthTitle {
    color: #111;
}

input {
    width: 90%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.02);
}

button:active {
    transform: scale(0.98);
}

/* Notification styling */
.fixed {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-green-500 {
    background-color: #4caf50;
}

.bg-gray-500 {
    background-color: #6c757d;
}
